.randomize-container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #E9EAE8;
}

.btn-randomize{
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  border: 3px solid #51199c;
  color: #51199c;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
  margin: 40px;
}

.btn-randomize:hover{
  background: #51199c;
  color: #ececec;
}

.randomize-rooms{
  margin: 50px;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
}