.room{
  background: linear-gradient(151deg, #5d46a3 0%, #310658 100%);
  width: 180px;
  margin-top: 20px;
  padding: 30px;
  border-radius: 0 40px;
}

p{
  margin: 10px 0;
  font-family: sans-serif;
  color: #ececec;
}

.number{
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #f3f3f3;
}